<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="filter.js"></script>
    <script type="text/javascript" src="parse-angular.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
  </head>

  <body ng-app="Flite">

    <div ng-controller="AirportsList as a">
      <form class="form-inline">
        <input ng-model="a.query" type="text"
          placeholder="Search" autofocus>
      </form>

      <ul ng-repeat="airport in a.airports | nameAndCity:a.query | limitTo:7" ng-hide="a.query.length == 0">
        <li><b>{{airport.code}}</b> {{airport.name}}</li>
      </ul>
    </div>

    <div ng-controller="ItemForm as i">
      <h2>Item Form</h2>
      <form novalidate class="simple-form">
        Name: <input type="text" ng-model="i.item.name"/><br />
        Size: <input type="number" name="quantity" min="1" max="5" ng-model="i.item.size" /><br />
        Value: <input type="number" name="quantity" min="1" max="5" ng-model="i.item.value"/><br />
        <input type="submit" ng-click="i.save()" value="Save" />
        <input type="submit" ng-click="i.get()" value="Get" />
      </form>
    </div>

    <div ng-controller="UserForm as u">
      <form ng-hide="sessionUser">
        <h2 >Sign up</h2>
        Name: <input type="text" ng-model="u.user.name" /><br />
        Email: <input type="email" ng-model="u.user.email" /><br />
        Password: <input type="password" ng-model="u.user.password" /><br />
        <button ng-hide="sessionUser" type="submit" ng-click="u.signUp()">Sign up</button>
      </form>

      <h2 ng-show="sessionUser">Logged in!</h2>

      <form ng-hide="sessionUser">
        <h2 >Log in</h2>
        Name: <input type="text" ng-model="u.user.name" /><br />
        Password: <input type="password" ng-model="u.user.password" /><br />
        <button type="submit" ng-click="u.logIn()">Log In</button>
      </form>

      <button ng-show="sessionUser" type="submit" ng-click="u.logOut()">Log Out</button>
    </div>

  </body>
</html>