<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="js/filter.js"></script>
    <script type="text/javascript" src="js/parse-angular.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
  </head>

  <body ng-app="Flite">
    <div id="fb-root"></div>
    
    <div ng-controller="UserForm as u">

      <h1>{{sessionUser}}</h1>
      <h2 ng-show="sessionUser">Logged in!</h2>

      <form ng-hide="sessionUser">
        <h2 >Log in</h2>
        Name: <input type="text" ng-model="u.user.name" /><br />
        Password: <input type="password" ng-model="u.user.password" /><br />
        <button type="submit" ng-click="u.logIn()">Log In</button>
      </form>

      <button ng-show="sessionUser" type="submit" ng-click="u.logOut()">Log Out</button>
      <button ng-show="sessionUser" type="submit" ng-click="u.fLink(sessionUser)">Link</button>
    </div>

  </body>
</html>