<!DOCTYPE html>
<html ng-app="match">
<head>
<link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for $scope template -->
    <link href="css/search.css" rel="stylesheet">

	<title>Matches</title>
</head>
<body>
<div class="container" ng-controller="poster">
	<div class="page-header title">
        <font color="white"><h1>Matches:</h1></font>
      </div>
     <div class="row">
     	<div class="col-lg-4 col-md-6 col-xs-12" ng-repeat="post in posts track by $index">
	     	<div class="heighter" ng-class="{ 'left': ($index % 3 == 0) && clicked == false,'left_select': ($index % 3 == 0) && clicked == true, 'center' : ($index % 3 == 1) && clicked == false,'center_select' : ($index % 3 == 1) && clicked == true, 'right' : ($index % 3 == 2)&& clicked == false,'right_select' : ($index % 3 == 2)&& clicked == true }">

	     	<div class="row">
	     	<div class="col-lg-6 col-md-6 col-xs-6">
	     	<h4>Item:</h4><span ng-bind='post.item'></span>
	     	</div>
	     	<div div class="col-lg-6">
	     	<h4>Sender:</h4> <span ng-bind='post.user'></span>
	     	</div>
	     	</div>
	     	<div class="row">
	     	<div class="col-lg-12 col-md-12 col-xs-12">
	     		<h4>Address:</h4><span ng-bind='post.address'></span>
	     		</div>
	     	</div>
	     	<div class="row">
	     		<div class="col-lg-6 col-md-6 col-xs-6">
	     			<h4>When:</h4><span ng-bind='post.when | date'></span>
	     		</div>
	     		<div class="col-lg-6 col-md-6 col-xs-6">
	     			<h2><span ng-bind='post.price | currency'></span></h2> 
	     		</div>
	     	</div>
	     	
	     		
	     		<div >
	     		<button type="radio" ng-show="!clicked" ng-model="clicked" ng-click="clicked = !clicked" class="btn btn-md btn-primary buttoner"ng-class="{ 'btn-danger': ($index % 3 == 0), 'btn-success' : ($index % 3 == 1), 'btn-info' : ($index % 3 == 2) }">Select</button>
	     		<button type="radio" ng-model="clicked" ng-show="clicked" ng-click="clicked = !clicked" class="btn btn-md btn-primary buttoner2"ng-class="{ 'btn-danger': ($index % 3 == 0), 'btn-success' : ($index % 3 == 1), 'btn-info' : ($index % 3 == 2) }">UnSelect</button>
	     		</div>
	     




	     	</div>
	     	</div>   
	     	</div>

	
</div>
</div>


<div class="footer">
<h1 id="total">Total Money Earned:
</h1><button class="btn btn-lg btn-success" id="button_shift">DONE!!</button>
  </div>

     		
     	
     </div>
 </div>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
 <script type="text/javascript">
 	var app = angular.module('match',[]);
 	app.controller('poster', function($scope){
 		$scope.food = "hello world";
 		$scope.posts = postsArray;
 		$scope.clicked = false;
 	});
 	var postsArray = [{item: 'iphone6', user: 'Rodolfo', when: '2015-08-19',price: 300, address: "Hogwarts avenue the best place in the world"},{item: 'ipad', user: 'Zehua', when: '2015-09-12',price: 280, address: "The Great fucking wall of china"}, {item: 'imac', user: 'kader', when: '2015-09-11',price: 500, address: "58 rue gueznaya is the shit man"},{item: 'iPod', user: 'Rodolfo', when: '2015-08-19',price: 300, address: "Hogwarts avenue the best place in the world"}]
 </script>


</body>
</html>