<!DOCTYPE html>
<html ng-app="Flite">
<head>
	<link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for $scope template -->
    <link href="css/search.css" rel="stylesheet">

	<title>Matches</title>


	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../../favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    <script src="js/ie-emulation-modes-warning.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="js/filter.js"></script>
    <script type="text/javascript" src="js/parse-angular.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
    <script src="../js/ie10-viewport-bug-workaround.js"></script>
</head>
<body ng-controller="Search as s">
<div class="container" >
	<div class="page-header title">
        <font color="white"><h1>Matches:</h1></font>
      </div>

     <div class="row">
     	<div class="col-lg-4 col-md-6 col-xs-12" ng-repeat="post in s.posts track by $index">
	     	<div class="heighter" ng-class="{ 'left': ($index % 3 == 0) && post.clicked == false,'left_select': ($index % 3 == 0) && post.clicked == true, 'center' : ($index % 3 == 1) && post.clicked == false,'center_select' : ($index % 3 == 1) && post.clicked == true, 'right' : ($index % 3 == 2)&& post.clicked == false,'right_select' : ($index % 3 == 2)&& post.clicked == true }">

	     	<div class="row">
	     	<div class="col-lg-6 col-md-6 col-xs-6">
	     	<h4>Item:</h4><span ng-bind='post.item'></span>
	     	</div>
	     	<div div class="col-lg-6">
	     	<h4>Sender:</h4> <span ng-bind='post.user'></span>
	     	</div>
	     	</div>
	     	<div class="row">
	     	<div class="col-lg-12 col-md-12 col-xs-12">
	     		<h4>Address:</h4><span ng-bind='post.address'></span>
	     		</div>
	     	</div>
	     	<div class="row">
	     		<div class="col-lg-6 col-md-6 col-xs-6">
	     			<h4>When:</h4><span ng-bind='post.when | date'></span>
	     		</div>
	     		<div class="col-lg-6 col-md-6 col-xs-6">
	     			<h2><span ng-bind='post.price | currency'></span></h2>
	     		</div>
	     	</div>


	     		<div >
	     		<button type="radio"  ng-show="!post.clicked" ng-model="post.clicked" ng-click="post.clicked = !post.clicked ; (s.totalPrice = s.totalPrice + post.price)" class="btn btn-md btn-primary buttoner"ng-class="{ 'btn-danger': ($index % 3 == 0), 'btn-success' : ($index % 3 == 1), 'btn-info' : ($index % 3 == 2) }">Select</button>
	     		<button type="radio" ng-model="post.clicked" ng-show="post.clicked" ng-click="post.clicked = !post.clicked ; (s.totalPrice = s.totalPrice - post.price)" class="btn btn-md btn-primary buttoner2"ng-class="{ 'btn-danger': ($index % 3 == 0), 'btn-success' : ($index % 3 == 1), 'btn-info' : ($index % 3 == 2) }">UnSelect</button>
	     		</div>

	     	</div>
	     	</div>
	     	</div>


</div>
</div>


<div class="footer">
<h1 id="total">Total Money Earned: {{s.totalPrice | currency}} 
</h1><button ng-click="s.done()" class="btn btn-lg btn-success" id="button_shift">READY</button>
  </div>



     </div>
 </div>

</body>
</html>
