<html>
  <head>
<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="js/filter.js"></script>
    <script type="text/javascript" src="js/parse-angular.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
     <link href="css/signup.css" rel="stylesheet">
  </head>

  <body ng-app="Flite">
  <div class="title-bar">
  <h1 id="title">fliite</h1>
  </div>
    <div id="fb-root"></div>
    
    <div ng-controller="UserForm as u">

      <form>
        <h2 >Sign up</h2>
        Name: <input type="text" ng-model="u.user.name" /><br />
        Email: <input type="email" ng-model="u.user.email" /><br />
        Password: <input type="password" ng-model="u.user.password" /><br />
        <button type="submit" ng-hide="sessionUser" ng-click="u.signUp()">Sign up</button>
        <button type="submit" ng-show="sessionUser" ng-click="u.fLink()">Link</button>
      </form>

    </div>

  </body>
</html>