.title-bar{
position: relative;
width: 100%;
height: 70px;	
background-color: rgba(0,0,153,.7);
color: white;
text-align: center;
bottom: 21px;

}
body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#title{
	position: relative;
	top: 0px;
	font-size: 60px;
}